version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: local-postgres
    restart: unless-stopped

    ports:
      - "5433:5432"

    environment:
      POSTGRES_DB: portfolio
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test

    volumes:
      - postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test -d portfolio"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
